.main{

    display: flex;


}

.inner{

    display: flex;
    justify-content: space-between;
    max-width: 1300px;

}

.heading-section {
   
 display: flex;
 align-items: center;
 padding: 50px;


}



.template-section {
    padding: 50px;
}

.template-section-row1 {
  display: flex;
  gap: 20px; /* spacing between images */
}

.template-section-row1 img {
 
  max-width: 200px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 10px;

}

.template-section-row2 {
  display: flex;
  gap: 20px; /* spacing between images */
  justify-content: center;
  margin-top: 20px;
}

.template-section-row2 img {
 
  max-width: 200px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 10px;

}


